/*
 * Globals
 */

/* Links */
/*a,
a:focus,
a:hover {
  color: #fff;
}*/
.nav a
{
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    padding-top: 5px;    
    height:100%;
    width:100%;
    background: #152f99; /* Old browsers */
    background: -moz-linear-gradient(left,  #152f99 0%, #15997f 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #152f99 0%,#15997f 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #152f99 0%,#15997f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152f99', endColorstr='#15997f',GradientType=1 ); /* IE6-9 */

}

body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.center{
    text-align:center;
}

.intro-section {
    height: 100%;
    padding-top: 40px;
    text-align: center;
   
}

.posts-section {
    height: 100%;
    padding-top: 40px;
    text-align: center;   
}

.contact-section {
    height: 100%;
    padding-top: 40px;
    text-align: center;
    position:relative;
}

/*
 * Header
 */
.header {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*
 * Footer
 */
.contact-section p
{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0px;
  right:0px;
  bottom:0px;
}



/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) { 
    .name {
       text-align:center;
    } 

    html,body {
       background: #152f99;
    }
    
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .name {
    padding-left:38%;
    }
   .header nav {
    padding-top:20px;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   .name {
    padding-left:38%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   .name {
    padding-left:38%;
    }
}
