/*
 * Globals
 */

/* Links */
/*a,
a:focus,
a:hover {
  color: #fff;
}*/
.nav a
{
  color: #fff;
  text-shadow:none;
}
.nav a:focus,.nav a:hover
{
  color:#000;
  text-shadow:none;
}
.bgCol
{
  background-color:black;
}
/*
.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
}*/
/*
 * Base structure
 */

html,
body {
    padding-top: 5px;    
    height:100%;
    width:100%;
    background: #152f99; /* Old browsers */
    background: -moz-linear-gradient(left,  #152f99 0%, #15997f 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #152f99 0%,#15997f 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #152f99 0%,#15997f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152f99', endColorstr='#15997f',GradientType=1 ); /* IE6-9 */
}

body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.intro-section {
    height: 100%;
    padding-top: 40px;
    text-align: center;   
}

.posts-section {
    height: 100%;
    padding-top: 40px;
    text-align: center;   
}

.contact-section {
    height: 100%;
    padding-top: 40px;
    position:relative;
}
.contact-section .container{
  height:500px;
}
.custVerticalAlign{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.contact-section h1{
  text-align:center;
}
.footerDesc{
    text-align:center;
}

/*
 * Header
 */
.header {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*
 * Footer
 */
.contact-section p
{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0px;
  right:0px;
  bottom:0px;
}





/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) { 
    html,body {
       background: #152f99;
    }  

  .intro-section {
    padding-top: 15px;    
  }

  .posts-section {
      padding-top: 15px;  
  } 

  .contact-section {
    padding-top: 15px;
   }    
  .contact-section h1{
    text-align:center;
  }
  .footerDesc{
    text-align:center;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}
