/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    padding-top: 5px;    
    height:100%;
    width:100%;
    background: #152f99; /* Old browsers */
    background: -moz-linear-gradient(left,  #152f99 0%, #15997f 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #152f99 0%,#15997f 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #152f99 0%,#15997f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152f99', endColorstr='#15997f',GradientType=1 ); /* IE6-9 */

}

body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.mainContent {
    text-align:center;
    height:500px;
    vertical-align:middle;
    display:table-cell;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.center{
    text-align:center;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
   
}

.posts-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;   
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;

}

/*
 * Header
 */
.header {
  margin-top: 10px;
  margin-bottom: 10px;
}


.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}   
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  text-align:center;
}



/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) { 
    .name {
       text-align:center;
    } 

    html,body {
       background: #152f99;
    }
    
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .name {
    padding-left:38%;
    }
   .header nav {
    padding-top:20px;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   .name {
    padding-left:38%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   .name {
    padding-left:38%;
    }
}
